/* style */

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #1A1A1A;
    scroll-behavior: smooth;
}


header {
    position: fixed; 
    top: 20px;
    left: 20%;
    right: 20%;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    background-color: rgba(46, 49, 54, .3);
    padding: 20px;
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px;
}


nav ul li a:hover {
    cursor: pointer;
    background-color: #CCE600;
    padding: 10px 40px;
    border-radius: 30px;
}

.container {
    position: fixed;
    display: flex;
}


img.bg {
    width: 100%;
}


.judul {
    position: fixed;
    width: 100%;
    top: 120px;
    text-align: center;
    line-height: 0px; 
}


h1 {
    font-size: 148px;
    color: #F7F2F6;
    opacity: 0.5;
}


span.color {
    color: #CCE600;
}


h1.kelas {
    font-size: 132px;
    color: #CCE600;
    letter-spacing: 15px;
}


span.color2 {
    color: #F7F2F6;
}


h3 {
    font-size: 44px;
    color: #F7F2F6;
    font-weight: 400;
    letter-spacing: 10px;
    opacity: 0.5;
}


h3.tahun {
    font-size: 64px;
    letter-spacing: 0;
}


section {
    top: 720px; 
    position: relative;
    background-color: #0F0F0F;
}

.about {
    /* position: relative; */
    text-align: justify;
    padding: 96px 15%;
}


h2 {
    color: #CCE600;
    font-size: 32px;
    font-weight: 700;
}


h4 {
    margin: 0;
    color: #BFD9E3;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 20px;
} 


p {
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
}

h4.coach {
    padding: 30px 15%;
    letter-spacing: 12.5px;
}

.wrap {
    width: 70%;
    margin: auto;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: #CCE600;
    overflow: hidden;
    animation: slide 10s infinite;
}

/* @keyframes slide {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(-300%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-200%);
    }

    90% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
} */


#slide1:target ~ .images{
    margin-left: 0%;
}

#slide2:target ~ .images{
    margin-left: -100%;
}

#slide3:target ~ .images{
    margin-left: -200%;
}

#slide4:target ~ .images{
    margin-left: -300%;
}

.images {
    display: flex;
    transition: 2s;
    width: 100%;
}

.images img{
    width: 100%;
}


.navigasi a {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #FFF;
    font-size: 0;
    border-radius: 50%;
    margin: 3px;
}


.navigasi a:hover {
    background-color: #CCE600;
    transition: .5s;
}


.navigasi {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    left: 0;
    right: 0;
    text-align: center;

}


.member {
    padding: 96px 15%;
}


h4.our-member {
    letter-spacing: 12px;
}


.avatar {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 15%;
}

/* .card {
    perspective: 1000px; 
  } */
  
.flip-card {
    padding: 5px 2px;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
}
  
.card:hover .flip-card {
    transform: rotateY(180deg);
  }
  
  
.flip-card-front {
    display: flex;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
    background-color: rgba(26, 26, 26, 1);
    border-radius: 15px 0 15px 0;
    width: 170px;
    height: 230px;
  }
  
.flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
    transform: rotateY(180deg);
  }    

img.foto {
    border-radius: 15px 0 15px 0;
    width: 170px;
    height: 230px;
  }

p.nama {
    color: #909D09;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

p.nama-beda {
    color: #909D09;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

span {
    color: #F7F2F6;
}


.social {
    padding: 62px 15%;
}


h4.explore {
    letter-spacing: 12px;
}


.social-media {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px 15% 180px;
}


button.sosmed {
    display: flex;
    align-items: center;    
    /* justify-content: space-between; */
    font-size: 50px;
    color: #F7F2F6;
    border: 1px solid #909D09;
    border-radius: 20px;
    background-color: transparent;
    padding: 20px 10%;
    margin: 10px 0;
}


button.sosmed:hover {
    cursor: pointer;
    background-color: rgba(46, 49, 54, .3);
    border: none;
}

img.vektor{
    padding-right: 72px ;
}


footer {
    position: relative;
    background-color: #c9c9c9;
    top: 720px; 
    padding-top: 20px;
    left: 0;
    right: 0;
}


.footer {
    margin: 0 20%; 
} 


h2.scholl {
    color: #FFF;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}

h4.kampus {
    color: #FFF;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0;
}


p.alamat {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
}


h3.akhir {
    color: #FFF;
    padding-top: 72px;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    opacity: 100%;
    margin-bottom: 5px;
}

.icons {
    display: flex;
    padding: 0 35%;
}


button.icon {
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 5px;
    margin: 10px 10px 80px 10px;
    border-radius: 20px;
}


button.icon:hover {
    cursor: pointer;
}


.penutup {
    color: #BFD9E3;
    background-color: #0F0F0F;
    margin: 0 ;
    padding: 30px 40px;
    text-align: center;
}


p.footer2 {
    font-size: 35px;
    color: #BFD9E3;
}


/* responsive */
@media (max-width : 782px ){
    header {
        top: 10px;
        left: 10%;
        right: 10%;
    }


    nav ul {
        padding: 10px;
    }


    nav ul li a {
        font-size: 8px;
        padding: 8px 20px;
    }

    nav ul li a:hover {
        padding: 8px 20px;
    }


    .judul {
        top: 80px;
        line-height: 4px;
    }


    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: 12px;
        letter-spacing: 10px;
    }

    h1.kelas {
        font-size: 40px;
    }

    h3.tahun {
        font-size: 20px;
    }

    section {
        top: 240px;
    }

    .about {
        padding: 42px 10%;
    }

    h2 {
        font-size: 10px;
    }

    h4 {
        font-size: 18px;
        letter-spacing: 10px;
    }

    p{
        font-size: 8px;
    }

    h4.coach {
        padding: 10px 10%;
        letter-spacing: 10px;
    }

    .member {
        padding: 42px 10%;
    }

    .avatar {
        padding: 0 10%;
    } 

    .flip-card {
        padding: 2px 0px;
    }

    .flip-card-front {
        width: 65px;
        height: 80px;
        border-radius: 5px 0 5px 0;
    }

    img.foto {
        width: 65px;
        height: 80px;
        border-radius: 5px 0 5px 0;
    }

    p.nama {
        font-size: 12px;
    }

    p.nama-beda {
        font-size: 10px;
    }


    .social {
        padding: 50px 10% 5px;
    }
    
    
    h4.explore {
        letter-spacing: 5px;
        margin-bottom: 10px;
    }


    .social-media {
        margin-top: 0px;
        padding: 0 10% 80px;
    }


    button.sosmed {
        font-size: 20px;
        border-radius: 10px;
        padding: 10px 5%;
        margin: 5px 0;
    }


    img.vektor {
        width: 30px;
        padding-right: 20px;
    }
    

    footer {
        top: 240px;
        padding-top: 20px;
        background-color: #1A1A1A;
    }


    .footer {
        margin: 0 10%; 
    } 
    
    
    h2.scholl {
        font-size: 24px;
    }
    
    h4.kampus {
        font-size: 15px;
    }
    
    
    p.alamat {
        font-size: 15px;
    }
    
    
    h3.akhir {
        padding-top: 32px;
        font-size: 24px;
        margin-bottom: 5px;
    }
    
    .icons {
        display: flex;
        flex-direction: column;
        padding: 0 30%;
    }
    
    
    button.icon {
        margin: 5px 5px 20px 5px;
        border-radius: 20px;
    }
    
    
    button.icon:hover {
        cursor: pointer;
    }
    

    
    
    p.footer2 {
        font-size: 12px;
        color: #BFD9E3;
    }
    
    

    
}